<ion-view title="Chat List Tab" hide-nav-bar="true" id="page3" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="chatListTab-list4">
      <label class="item item-input" id="chatListTab-search2" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Search" type="search">
      </label>
      <ion-item class="item-divider" id="chatListTab-list-item-divider4"> Fellows</ion-item>
      <ion-item class="item-avatar" id="chatListTab-list-item19" ui-sref="chatPage()" style="">
        <img src="img/R1LpPJNTE7lbVTn0j0LA_woman.jpg">
        <h2>Priscila</h2>
        <p>22 years</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatListTab-list-item20" ui-sref="chatPage()" style="">
        <h2>$profileName</h2>
        <p>$age</p>
      </ion-item>
      <ion-item class="item-avatar" id="chatListTab-list-item23" ui-sref="chatPage()" style="">
        <h2>Fellow C</h2>
      </ion-item>
      <ion-item class="item-avatar" id="chatListTab-list-item24" ui-sref="chatPage()" style="">
        <h2>Fellow D</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>