<ion-view title="Chat Page" hide-nav-bar="true" id="page6" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="chatPage-list7">
      <ion-item class="item-icon-left" id="chatPage-list-item36" ui-sref="tabsController.chatListTab()" style="">
        <i class="icon ion-ios-arrow-back"></i>Chats</ion-item>
      <ion-item class="item-avatar item-icon-right" id="chatPage-list-item30" ui-sref="profilePageFromChat()" style="">
        <img src="img/yPAKnjntSCqSw0FvnjFA_woman.jpg">
        <h2>Priscila</h2>
        <p>22 years</p>
        <i class="icon ion-ios-more icon-accessory"></i>
      </ion-item>
      <div class="item item-body" id="chatPage-list-item-container8" style="">
        <div class="spacer" style="width: 288px; height: 223px;"></div>
        <div id="chatPage-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hi!</p>
        </div>
        <div id="chatPage-markdown9" style="text-align:right;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hello!</p>
        </div>
      </div>
      <label class="item item-input" id="chatPage-input1">
        <span class="input-label">Input</span>
        <input placeholder="" type="text">
      </label>
    </ion-list>
  </ion-content>
</ion-view>