<ion-view title="Events List Tab" hide-nav-bar="true" id="page2" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="eventsListTab-list5">
      <label class="item item-input" id="eventsListTab-search3" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Search" type="search">
      </label>
      <ion-item class="item-thumbnail-left item-icon-right" id="eventsListTab-list-item26" ui-sref="eventPeoplePage()" style="">
        <img src="img/uh4ltnHTvqk1kO2I4qlh_event.png">
        <h2>FISL 17</h2>
        <p>July 13 – July 16
          <br>at 10 AM to 8 PM
          <br> PUCRS</p>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="eventsListTab-list-item25" href="mailto:" style="">
        <h2>$eventName</h2>
        <p style="white-space:normal;">$period
          <br>$datetime
          <br> $local</p>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="eventsListTab-list-item27" style="">
        <h2>Event 3</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="eventsListTab-list-item28" style="">
        <h2>Event 4</h2>
        <i class="icon ion-more"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>