<ion-view title="Event Details Page" hide-nav-bar="true" id="page15" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="eventDetailsPage-list15">
      <ion-item class="item-icon-left" id="eventDetailsPage-list-item60" ui-sref="tabsController.suggesstsListTab()" style="">
        <i class="icon ion-ios-arrow-back"></i>Back to Suggets</ion-item>
    </ion-list>
    <div>
      <img src="img/OKFl6jT8uv4X2vZ7vTEw_Noitedosmuseus123-752x440.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="eventDetailsPage-button13" class="button button-balanced button-block">Go!</button>
    <button id="eventDetailsPage-button16" class="button button-assertive button-block">Leave Event</button>
    <ion-list id="eventDetailsPage-list19">
      <div class="item item-body" id="eventDetailsPage-list-item-container11" style="">
        <div id="eventDetailsPage-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Date:</strong> May 20th</p>
        </div>
        <div id="eventDetailsPage-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Time:</strong> 7 PM to 12 PM</p>
        </div>
        <div id="eventDetailsPage-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Local:</strong> Porto Alegre</p>
        </div>
        <div id="eventDetailsPage-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Description:</strong>
          </p>
        </div>
        <div id="eventDetailsPage-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">O evento inspirado no já tradicional evento de Berlin, Lange Nacht Der Museen (A Longa Noite dos Museus), teve sua primeira edição brasileira em maio de 2016 em Porto Alegre. Devido a grande aderência pelas pessoas e a grande repercussão midiática,
            propõe-se a realizar a sua segunda edição de circuito de visitação em museus em horário fora do habitual. A novidade, para a Segunda Edição, será a inserção de duas novas instituições, sendo essas o Instituto Goethe e o Museu de Ciências Naturais,
            além de uma programação musical mais diversificada e algumas apresentações coreográficas.</p>

          <p style="color:#000000;">Com o objetivo de reforçar a programação artística, optou-se por montar um conselho curador reunindo nomes de diferentes perfis (historiador e músico). A convergência destes perfis, que mesclam diferentes segmentos das artes – erudita e contemporânea
            – enriquecerá a programação artística específica do evento, tornando a experiência ainda mais disruptiva com o comum para cidade de Porto Alegre reforçando a proposta de integração da população com a cidade, trazendo oportunidade de conhecer
            novos meios de se deslocar entre os espaços culturais e fruir os espaços urbanos e suas artes.</p>

          <p style="color:#000000;">Noite dos Museus</p>

          <p style="color:#000000;">Música, arte, gastronomia, tecnologia… todas as facetas da cultura reunidas em um único evento, gratuito, ao ar livre, que coloca os holofotes sobre a cidade com um programa rico e eclético, convidando-nos a uma série de novas descobertas e
            performances deslumbrantes que tornam-se parte da paisagem da vida diária de Porto Alegre.</p>

          <p style="color:#000000;">Inspirado no já tradicional evento Lange Nacht Der Museen (A Longa Noite dos Museus), realizado em Berlim desde 1997, o evento propõe incentivar a visitação de alguns dos principais museus de Porto Alegre em um horário inusitado, durante uma
            noite, no sábado, dia 20 de maio, das 19h às 00h, chamando o interesse de fãs das artes bem como da população em geral.</p>

          <p style="color:#000000;">Durante a Noite dos Museus, o público poderá percorrer gratuitamente os museus, apreciar as suas exposições, assistir a visitas guiadas, além de desfrutar de uma programação musical especialmente selecionada, trazendo mais uma experiência disruptiva
            com o comum para a cidade de Porto Alegre.</p>

          <p style="color:#000000;">Sábado à noite em Porto Alegre. Um olhar diferente: o patrimônio; a arquitetura; o encontro; os artistas. Noite dos Museus!</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>