<ion-view title="My Profile" id="page13" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/3RqXGfw5QBbVjb8PJGcu_man.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="myProfile-button15" class="button button-positive button-block">Add picture</button>
    <ion-list id="myProfile-list11">
      <div class="item item-body" id="myProfile-list-item-container15" style="">
        <div id="myProfile-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Brian</strong>, 23 years</p>
        </div>
        <div id="myProfile-markdown16" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>About:</strong>
          </p>
        </div>
        <div id="myProfile-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">I'm Brian.</p>
        </div>
      </div>
    </ion-list>
    <button id="myProfile-button14" class="button button-positive button-block">Edit about</button>
  </ion-content>
</ion-view>