<ion-view title="Profile Page From Events" hide-nav-bar="true" id="page9" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="profilePageFromEvents-list12">
      <ion-item class="item-icon-left" id="profilePageFromEvents-list-item43" ui-sref="eventPeoplePage()" style="">
        <i class="icon ion-ios-arrow-back"></i>Back to Events</ion-item>
    </ion-list>
    <div>
      <img src="img/cE6GjHTWR36pEQNV1QwU_woman.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="profilePageFromEvents-list16">
      <div class="item item-body" id="profilePageFromEvents-list-item-container10" style="">
        <div id="profilePageFromEvents-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Priscila</strong>, 22 years</p>
        </div>
        <div id="profilePageFromEvents-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>About:</strong>
          </p>
        </div>
        <div id="profilePageFromEvents-markdown19" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">I'm Priscila. Wanna have some fun?</p>
        </div>
        <div id="profilePageFromEvents-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Common events:</strong>
          </p>
        </div>
        <div id="profilePageFromEvents-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">$listaEventos</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>