<ion-view title="Profile Page From Chat" hide-nav-bar="true" id="page14" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="profilePageFromChat-list17">
      <ion-item class="item-icon-left" id="profilePageFromChat-list-item52" ui-sref="chatPage()" style="">
        <i class="icon ion-ios-arrow-back"></i>Back to Chat</ion-item>
    </ion-list>
    <div>
      <img src="img/cE6GjHTWR36pEQNV1QwU_woman.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="profilePageFromChat-list18">
      <div class="item item-body" id="profilePageFromChat-list-item-container16" style="">
        <div id="profilePageFromChat-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Priscila</strong>, 22 years</p>
        </div>
        <div id="profilePageFromChat-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>About:</strong>
          </p>
        </div>
        <div id="profilePageFromChat-markdown31" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">I'm Priscila. </p>
        </div>
        <div id="profilePageFromChat-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Common events:</strong>
          </p>
        </div>
        <div id="profilePageFromChat-markdown33" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">$listaEventos</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>