<ion-view title="Settings" id="page10" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="settings-list10">
      <div class="item item-body" id="settings-list-item-container9" style="">
        <div id="settings-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Show me:</strong>
          </p>
        </div>
        <form id="settings-form2" class="list">
          <ion-checkbox id="settings-checkbox1" style="">Men</ion-checkbox>
          <ion-checkbox id="settings-checkbox2" style="">Women</ion-checkbox>
        </form>
      </div>
      <div class="item item-body" id="settings-list-item-container13" style="">
        <div id="settings-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Discover options:</strong>
          </p>
        </div>
        <form id="settings-form5" class="list">
          <ion-checkbox id="settings-checkbox7" style="">Going</ion-checkbox>
          <ion-checkbox id="settings-checkbox6" style="">Interested</ion-checkbox>
        </form>
      </div>
      <div class="item item-body" id="settings-list-item-container12" style="">
        <div id="settings-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Notifications</strong>
          </p>
        </div>
        <form id="settings-form4" class="list">
          <ion-checkbox id="settings-checkbox4" style="">Fun Fellow</ion-checkbox>
          <ion-checkbox id="settings-checkbox5" style="">Messages</ion-checkbox>
          <ion-checkbox id="settings-checkbox3" style="">New Fellows</ion-checkbox>
        </form>
      </div>
    </ion-list>
    <button id="settings-button11" class="button button-positive button-block">Help &amp; Support</button>
    <button id="settings-button12" class="button button-positive button-block">Logout</button>
    <button id="settings-button10" class="button button-assertive button-block">Delete account :'(</button>
  </ion-content>
</ion-view>