<ion-view title="Store" id="page12" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="store-list1">
      <div class="item item-body" id="store-list-item-container14" style="">
        <div id="store-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Select pack</strong>
          </p>
        </div>
        <ion-list id="store-list9">
          <ion-item class="item-icon-left" id="store-list-item48" style="">
            <i class="icon ion-social-usd"></i>10 Coins - R$5,00</ion-item>
          <ion-item class="item-icon-left" id="store-list-item49" style="">
            <i class="icon ion-social-usd"></i>60 Coins - R$25,00</ion-item>
          <ion-item class="item-icon-left" id="store-list-item50" style="">
            <i class="icon ion-social-usd"></i>100 Coins - R$40,00</ion-item>
          <ion-item class="item-icon-left" id="store-list-item51" style="">
            <i class="icon ion-social-usd"></i>250 Coins - R$90,00</ion-item>
        </ion-list>
        <div class="spacer" style="width: 268px; height: 21px;"></div>
        <div id="store-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Every coin allows you to send a
            <strong>Fun</strong>
          </p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>