<ion-view title="Suggessts List Tab" hide-nav-bar="true" id="page11" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <ion-list id="suggesstsListTab-list14">
      <label class="item item-input" id="suggesstsListTab-search4" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Search" type="search">
      </label>
      <ion-item class="item-thumbnail-left item-icon-right" id="suggesstsListTab-list-item56" ui-sref="eventDetailsPage()" style="">
        <img src="img/oNlRB0CpT7ia6AH7SGLb_Noitedosmuseus123-752x440.jpg">
        <h2>Noite dos Museus</h2>
        <p>May 20th
          <br>at 10 AM to 8 PM
          <br> PUCRS</p>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="suggesstsListTab-list-item57" ui-sref="eventDetailsPage()" style="">
        <h2>$eventName</h2>
        <p style="white-space:normal;">$period
          <br>$datetime
          <br> $local</p>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="suggesstsListTab-list-item58" ui-sref="eventDetailsPage()" style="">
        <h2>Event 3</h2>
        <i class="icon ion-ios-more"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="suggesstsListTab-list-item59" style="">
        <h2>Event 4</h2>
        <i class="icon ion-more"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>