<ion-view id="page1" style="">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1" style="">
    <ion-tab title="Suggests" icon="ion-calendar" href="#/home/suggests" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="My Events" icon="ion-android-calendar" href="#/home/events" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Chat" icon="ion-chatbubble-working" href="#/home/chat" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>