<ion-view title="Welcome!" hide-nav-bar="true" hide-back-button="true" id="page5" style="background-color: rgb(255, 255, 255);">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div>
      <img src="img/fyHsnJRnQim2jCEDWTiI_button_fellow.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <div id="welcome-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:22px;">Don't go alone.
        <strong>Go with Fellow!</strong>
      </p>
    </div>
    <form id="welcome-form1" class="list">
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <a ui-sref="tabsController.eventsListTab()" id="welcome-button1" style="color:#FFFFFF;border-radius:0px 0px 0px 0px;" class="button button-positive button-block">Log in with Facebook</a>
    </form>
  </ion-content>
</ion-view>